# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo

# Node / NPM
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc

# Local scratch and logs
*.log
scratch/

